:root{
    --brand-blue: #2196F3;
    --logo-font: "Roboto", sans-serif;
    --text-font: "Raleway", sans-serif;
}
body{
    font-family: var(--text-font);
    font-weight: 400;
    color: black;
}
ul li::marker{
    color: transparent;
}
.header-top{
    /* position: absolute; */
}
.logo-web{
    color: var(--brand-blue);
    font-size: 26px;
    font-family: var(--logo-font);
    letter-spacing: 0,03em;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;

}
.logo-studio{
    color: black;
    font-size: 26px;
    font-family: var(--logo-font);
    letter-spacing: 0,03em;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}
.buttons{
    font-size: 1,625;
    line-height: 2.5;
    padding: 0 20px;
    text-align: center;
    color: black;
    border: none;
    }
.buttons:hover{
    background-color: var(--brand-blue);
    color: white;
    border: none;
}
/* .buttons:focus{
    color: white;
    background-color: var(--brand-blue);
} */
.footer-box{
    background-color: #2F303A;
}
.footer-logo{
    color: white;
    font-size: 26px;
    font-family: var(--logo-font);
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}
.footer-address{
    color: #FFFFFF;
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
}
.footer-link{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
    /* text-decoration: underline; */

}
